<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to studybuddy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'assets/css/cover.css'%}">
</head>
<body class="text-center">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static 'assets/images/logo.png' %}" alt="">
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'login'%}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'register'%}">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="intro">
    <div class="container">
      <h2>
        Welcome to Studybuddy
      </h2>
      <p class="text-center">E-Learning resource platform that offers convenience to learners pursuing their
        professional courses despite their busy schedules. We help them learn more effectively, flexibly and
        efficiently to increase their chances of exam success and stay motivated. We are digitizing learning
        resources and transform it into edutainment to ease the stress of studying. Our aim is to improve exam
        performance by offering the most interactive learning platform for professional exams</p>
      </div>
    </section>
    <div class="container">
      <div class="row">
          <div class="col-md-4 text-center">
            <!-- <img src="{% static 'assets/icons/clock.svg'%}" class="img-responsive"alt=""> -->
            <h2 class="blue">Effective</h2>
          </div>
          <div class="col-md-4 text-center">
            <h2 class="blue">efficient</h2>
          </div>
          <div class="col-md-4 text-center">
            <i class="fas fa-dumbbell"></i>
            <h2 class="blue">Motivative</h2>
          </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </html>
